/* public/css/styles.css */
.navbar-custom {
    background-color: #20B2AA !important;
}

.navbar-brand-icon {
    margin-right: 0.5rem;
}
/* Add this CSS to your stylesheet */
.navbar-dark {
    background-color: #20B2AA !important; /* Change navbar color to light green */
}

.navbar-brand::after {
    content: '\1F3E0'; /* House icon */
    margin-left: 5px;
}
